name: Deploy main environment (internal)

# Other deployments should be derived from this one.
# - Change AWS_ variable names to the customer-specific ones
# - Change trigger branch name to the customer's branch
#
# Parameters of the deploy must be stored in the god.config* file(s)

on:
  push:
    branches:
      - "main"

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yaml
    with:
      AWS_REGION: ap-southeast-1
      DEPLOYMENT_NAMESPACE: glucose
      DEPLOYMENT_CUSTOMER: generic
      DEPLOYMENT_CUSTOMER_DISPLAY_NAME: Demo
      DEPLOYMENT_ENVIRONMENT: dev
    secrets:
      AWS_ACCESS_KEY_ID: "${{ secrets.V1_STAGING_AWS_ACCESS_KEY_ID }}"
      AWS_SECRET_ACCESS_KEY: "${{ secrets.V1_STAGING_AWS_SECRET_ACCESS_KEY }}"
