name: Validation

on:
  workflow_dispatch:

  workflow_call:
    inputs:
      AWS_REGION:
        type: string
        required: true
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true

env:
  AWS_REGION: ${{ inputs.AWS_REGION }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout the code
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        java-package: 'jdk'
    - name: Verify Java installation
      run: java --version

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Setup Poetry
      uses: Gr1N/setup-poetry@v8
      with:
        poetry-version: "1.2.2"
    - name: Setup Python tools
      run: |
        pip install bandit pip-audit
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '20.11.1'
    - name: Setup PNpm and node-tools
      run: |
        npm install --global pnpm yarn ts-node aws-cdk cdk;

    # Do not use "official" smithy github action, because it breaks something around java
    - name: Setup Smithy
      run: |
        set -eu;
        export SMITHY_VERSION_FULL=1.50.0
        export SMITHY_TMP=$(mktemp --directory);
        export SMITHY_HOME=/opt/smithy;
        cd "${SMITHY_TMP}";
        curl -L "https://github.com/smithy-lang/smithy/releases/download/${SMITHY_VERSION_FULL}/smithy-cli-linux-x86_64.zip" -o smithy-cli-linux-x86_64.zip;
        unzip -qo smithy-cli-linux-x86_64.zip;
        "${SMITHY_TMP}"/smithy-cli-linux-x86_64/install --install-dir "${SMITHY_HOME}";
        cd /;
        rm -rf "${SMITHY_TMP}";

    - name: Verify configuration
      run: |
        echo "# INSTALLATION REPORT:";
        echo "";
        echo "$ java --version:";
        java -version;
        echo "$ mvn --version:";
        mvn --version;
        echo "$ python --version:";
        python --version;
        echo "$ poetry --version:";
        poetry --version;
        echo "$ node --version:";
        node --version;
        echo "$ npm --version:";
        npm --version;
        echo "$ pnpm --version:";
        pnpm --version;
        echo "$ yarn --version:";
        yarn --version;
        echo "$ smithy --version:";
        smithy --version;
        echo "$ aws --version:";
        aws --version;
        aws sts get-caller-identity;
    
    - name: Build everything
      run: |
        ./gradlew build

    - name: Validate everything
      run: |
        ./gradlew validate

#    - name: Run tests
#      run: |
#        ./gradlew test
