name: Validation

# Refer to https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows

#on:
#  pull_request:
#    branches:
#    - 'main'

# Run this workflow only when PR is created and labeled with 'test' label
on:
  pull_request:
    types:
    - labeled

jobs:
  validate:
    if: ${{ github.event.label.name == 'test' }}
    uses: ./.github/workflows/validate.yaml
    with:
      AWS_REGION: eu-central-1
    secrets:
      AWS_ACCESS_KEY_ID: '${{ secrets.V1_STAGING_AWS_ACCESS_KEY_ID }}'
      AWS_SECRET_ACCESS_KEY: '${{ secrets.V1_STAGING_AWS_SECRET_ACCESS_KEY }}'
